/* petit écran */
@media screen and (max-width: 850px) {
    .header_nav {
        display: none;
    }
}


/* grand écran */
@media screen and (min-width: 850px) {
    .header_nav {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }
}