/* petit écran */
@media screen and (max-width: 850px) {
    .header_nav {
        display: none;
    }

    main .home_informations {
        flex-direction: column;
        align-items: center;
    }

    main .home_informations p {
        padding: 2em;
        width: 80%;
        text-align: center;
    }
}


/* grand écran */
@media screen and (min-width: 850px) {
    .header_nav {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }

    main .home_informations p {
        width: 50%;
    }
}