/* petit écran */
@media screen and (max-width: 850px) {
    .header_nav {
        display: none;
        /* display: block; */
        position: fixed;
        top: 20vh;
        left: 0;
        height: 100%;
    }

    .mobile_nav_display {
        display: block;
    }

    .header_nav>a,
    .header_nav .btn_nav>span {
        height: 10vh;
    }

    .header_nav nav {
        height: inherit;
        display: flex;
        align-items: center;
    }
}


/* grand écran */
@media screen and (min-width: 850px) {
    .header_nav {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }
}