/* ---------------------------------------- Ensemble du Header */
header {
    /* position: sticky;
    top: 0;
    left: 0; */

    height: 20vh;
    width: 100%;
}


/* ---------------------------------------- Partie supérieure */
.header_informations {
    height: 20%;
    background-color: #8F9BB8;
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    align-items: center;
    justify-content: end;
}

.header_informations .icon {
    height: 50%;
    border: 1px solid black;
    margin-left: 10px;
    margin-right: 5px;
}


/* ---------------------------------------- Partie centrale */
.header_center {
    height: 80%;
    background-color: #E4E4E4;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header_center .logo {
    position: absolute;
    left: 1%;
    height: 12vh;
    border-radius: 10px;
}

.header_center h1 {
    font-size: 3em;
}
