* {
    margin: 0;
    padding: 0;
}

/* Ensemble du Main */
main {
    min-height: 55vh;
    background-color: #2B2B2B; /* #222f44 */
    display: flex;
    flex-direction: column;
    align-items: center;
}





/* Textes */

.text_1 {
    /* fixer un font-style */
}

.link,
.link:visited {
    color: rgb(0, 100, 255);
}
