/* Dans le Header */
header .header_informations .icon {
    height: 50%;
    border: 1px solid black;
    margin-left: 10px;
    margin-right: 5px;
}

header .header_center .logo {
    position: absolute;
    left: 1%;
    height: 12vh;
    border-radius: 10px;
}

.header_nav nav .icon {
    height: 80%;
    /* border: 1px solid black; */
    margin-left: 25px;
    margin-right: 25px;
    cursor: pointer;
}


/* Dans le Main */
main .home_background .logo {
    height: 25vh;
}